/* This is an additional stylesheet for enhancement */
/* This applies to both EN/JP */
/* Updated on 12/11 */

/*Glyphicons*/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/css/web/ti8/fonts/glyphicons-halflings-regular.eot');
    src: url('/css/web/ti8/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/css/web/ti8/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/css/web/ti8/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/css/web/ti8/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body{-webkit-text-stroke: 1px rgba(0,0,0,0.1);}
img { -ms-interpolation-mode: bicubic; }

a {outline: 0!important;}
.no-padding {padding:0!important; margin:0!important;}
.alert {font-size:.95em; border-radius:0px; border:0; margin:0;}
.jp-page-title {padding: .5em 1.5em;}
.row.content-block div .btn, .row.content-sidebar div .btn {margin-bottom:3px;}
.primary-red {color: #DB3D44!important;}
.margin-top-2 {margin-top:2em;}
.padding-left-0 {padding-left:0;}
.not-strong {font-weight:normal!important;}

.row.content-sidebar {height:0;}
.row.content-block h5.section-title {padding:0px 15px 5px;}
.row.content-block .column-title, .row.content-sidebar .sidebar-title, .row.content-sidebar h6, .row.content-block h6 {font-size:1.5em;}
.row.content-block div, .row.solution-block div {margin-bottom:.3em;}
.row.content-block img, .row.content-sidebar img, .row.solution-block img {max-width: initial; vertical-align:middle; height:auto; }
.row.content-block .section-title img, .row.content-block .column-title img, .row.content-sidebar .sidebar-title img
{width:auto; max-height:30px; margin-right:5px; margin-left:-5px; vertical-align:middle; margin-bottom:0; display:inline;}
.icon-left {float: left; width: /*7.1111%*/ 45px; text-align: right;} .icon-left img {max-width:40px!important; height:auto; border:0!important;} .icon-left img.pull-left {float:none!important;}
.col-md-3 .icon-left {width:35px; margin-left:.5em;} .col-md-3 .icon-left img {max-width:35px!important} .col-md-3 .icon-content {width: 78%; padding-left:1em;}
.icon-content {float: left; width: 83%; padding: 0 1em; /*float:right; width: 92.8888% padding-left: 2em;*/} .icon-content p:first-child {font-size: 1.2em; margin-bottom: 0;} .icon-content h6 {margin-top:0;}

::selection{color: #fff;color: rgba(255,255,255,0.90);background: #ea4c89;}::-moz-selection{color: #fff;color: rgba(255,255,255,0.90);background: #ea4c89;}::-webkit-selection{color: #fff;color: rgba(255,255,255,0.90);background: #ea4c89;}

/*Chrome Only CSS Hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {.row.content-block img, .row.content-sidebar img, .row.solution-block img {max-width: 100%;}}

/*Firefox Only CSS Hack*/
@-moz-document url-prefix() { .row.content-block img, .row.content-sidebar img, .row.solution-block img {max-width: 100%;}}

/*IE CSS Hack*/
.row.content-block img, .row.content-sidebar img, .row.solution-block img {max-width: 100%\9;height: auto\9;}

/* Fixing lists 
.row.content-sidebar ul, .row.content-block ul, ul.download {list-style-type:none; list-style-image:none!important; margin-left:-2em;}
.row.content-sidebar ul li:before, .row.content-block ul li:before, .ti-content-sidebar .AC_MESSAGES li:before {content: '\2022 ';       color: #999999;     padding-right: 0.6em;  text-indent:-1em;}
.row.content-sidebar ul li, .row.content-block ul li, .ti-content-sidebar .AC_MESSAGES {text-indent: -1em;}
*/

ul {margin-left: 0; padding-left: 1em; color: #666;} ul strong {color:#000;}
.download {list-style-type:none; list-style-image:none; margin-left:-1em;}
.download li:before {font-family: 'Glyphicons Halflings'; content:"\e025"!important; font-size:.65em; color: #DB3D44!important;  padding-right: 0.6em;  text-indent:-1.5em; margin-left:0.5em;}
.pqaLinkList li {background-image: url(../media/jp/all_media/solution_snippets/pqa_mark_a_red.gif); background-repeat: no-repeat; background-position: left 4px; padding-left: 16px; list-style-type: none;}
.pqaLinkList {margin-left:-15px;}

/* Solution stuff*/
  .row.solution-block h2.border {font-size:2.35em; margin-bottom:.8em; line-height:125%;}
  .row.solution-block {padding:1em 2.5em; margin:0!important}
  .row.feedback-block {border-top:1px solid #dddddd; border-bottom:1px solid #ddd; padding:1em 2.5em; margin:0!important;}
  .row.solution-block.ti-product-version {background:none; font-size:.85em; color:#666; border-top:1px solid #dddddd; padding-left:4em; padding-right:5em; line-height:150%; margin-top:-1px!important;}
  .ti-product-version p {margin-bottom: .5em;}
  .row .video-block {border-top:1px solid #dddddd;}
  .row.solution-block .bg-info {padding:.8em; font-size:1.2em;}
  .solution-feedback-form.completed {padding:.8em; }
  .solution-feedback-form.completed h4 {font-size:1.4em;}
  .tab-pane .row {padding:1em;}
  .tab-content #public {padding:1em 0!important;}
  div#related, #ContentPlaceHolderDefault_Content_KMSSolutionContent_Ti8_5_divRelatedSolution {border-top:1px solid #dddddd;}
  .row.solution-block table {font-size:1em; margin:.5em 0}
  .row.solution-block h4 {margin: 1em 0 .5em 0}
  .row.solution-block .center {text-align:center; margin:1em auto;}
  .row.solution-block img {padding: 4px; margin-bottom: 1em 0; line-height: 1.42857143; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out;}
  .row.solution-block .tab-content img{padding:0; border:0; border-radius:0;}
  #feedbackContent table tr td, #feedbackContent label {font-size: 15px; padding: 3px 0; font-weight:100!important;}
  #related h6 {margin-bottom:.5em;}
/*Additional css*/
  .morecontent span {display: none;}
  .morelink {cursor:   pointer;}
  .solution-feedback-form.completed {border: solid #9ee93a 1px;background: #e3fbc3;}
  .ti-sticky-title {font-size: 22px; vertical-align: middle; margin-left: 6px; display:inline;line-height: 68px;}
  .ti-sticky-title-jp {font-size: 28px; vertical-align: middle; margin-left: 6px; display:inline;}

/* Makes the Old EN Solution Accordion look like the new one */
   section.accordion {margin-top:3em; margin-bottom:1em; background: #fff;}
   section.accordion .collapse {display:block!important;}
  .accordion .expand, .accordion .collapse {margin-bottom:0!important;}
  .accordion .pane-title {background:#f5f5f5; padding:0; color: #333!important; background: #f5f5f5!important; border: 1px solid #ddd!important; margin-top:-1px; margin-bottom:0!important;}
  .accordion .pane-title p {float: right;  margin-right: 15px; margin-top: 10px; background: url(../media/web/ti8/ti_accordion_expanded.png) no-repeat; width: 15px; height: 16px}
  .accordion .pane-title.current p {float: right; padding-right: 15px; margin-top: 10px; background: url(../media/web/ti8/ti_accordion_collapsed.png) no-repeat; width: 15px; height: 16px}
  .accordion h2 {background: none!important; margin: 0; font-weight:bold!important; font-family: Arial, Helvetica, sans-serif!important; padding:10px 0 10px 10px; font-size: 14px!important; color: #333;  font-weight: normal;
    text-transform: capitalize; letter-spacing:normal; cursor:pointer;}
  .accordion h2:hover, .accordion .pane-title:hover {background:#eeeeee!important; color:#000!important;}  
  .accordion .current h2 {cursor: pointer!important; color: #000!important; /*background-color: #e5e5e5;*/ background-color: #fff;   border: 0;}
  .accordion .pane {background-color:none; display: none;padding: 1em 8px!important; color: #555; border-bottom:none;  width:100%;}
  .accordion .pane p { margin-bottom: 10px; color:#000;}
  .accordion .pane ul, .accordion .pane ol {margin-left:0!important;}
  .expandAll {font-size:.8em;cursor: pointer; color:#428bca!important;}
  .row.solution-block .indent {margin:1em;}
  .row.solution-block .section-title {font-size: 1.4em; color: #DB3D44; margin:1.2em 0; padding-bottom:2px; border-bottom:1px solid #ddd;}
  .row.solution-block .highlight {background-color: #d9edf7; border-color: #bce8f1; color: #31708f; padding:1em; margin:.75em 0;}
  table.kb-table {font-size:1em; width:100%;}
  table.kb-table th.noncorner {background: none; color: #FFF; border-left:0!important; border-top:0!important;}
  table.kb-table th {background: #f2f2f2; border:1px solid #e2e2e2!important; color: #333;text-align: center; padding: 1em;}
  table.kb-table td {border:1px solid #e2e2e2; padding: .75em; background: #FFF; word-break: break-word;}
  .accordion .pane .kb-table td ul {margin-left:0!important; list-style-position:inside;}
  .accordion .pane .kb-table>thead:first-child>tr:first-child>td {border-top: 1px solid #ddd;}

/* New Accordion stuff */
  .acc {color: #333; background: #f5f5f5; border: 1px solid #ddd; padding:0 10px; margin-top:-1px; margin-bottom: 0!important;}
  .acc:hover {background-color:#eeeeee;}
  .acc > a:hover, .acc > a:active, .acc > a:focus {color:#000; text-decoration:none;}
  .acc > a {display:block; color:#333; margin-bottom:1px; font-weight:bold; padding:10px 20px 10px 0; background: url('../media/web/ti8/ti_accordion_collapsed.png') right 11px no-repeat;}
  .acc > a.collapsed {background: url('../media/web/ti8/ti_accordion_expanded.png') right 11px no-repeat;}
  .acc-content {padding:8px;}
  .acc-all {text-align:right; margin:.5em 0; font-size:.8em;cursor: pointer;}
  .acc.btn {background: #428bca; border-color:#357ebd; padding:0;}
  .acc.btn:hover {background-color: #3276b1; border-color: #285e8e;}
  .acc.btn > a {padding:6px 12px 6px 12px; }
  .acc.btn > a {display:block;  margin-bottom:1px; color:#ffffff; font-weight:normal!important; padding-right:1.4em; margin-right:.5em; background: url('/prechatform/images/ti_accordion_collapsed_alt.png') right 7px no-repeat;}
  .acc.btn > a.collapsed {background: url('/prechatform/images/ti_accordion_expanded_alt.png') right 7px no-repeat;}

/* Prechat stuff */
    /*prechat .col-xs-12 {padding-left:0;}*/
    /*.prechat {margin-top:3em;}*/
    .prechat fieldset {margin:1.3em 0;}
    .form-group, #schedule, {margin:2em 0;}
    .small {font-size:.80em;}
    .bold {font-weight:bold;}
    .block {display:block;}
    .availability {font-size:.9em; margin:0!important;}  
    .availability img {border:0!important; background:none!important; margin:1em .5em 0 0;}
    .availability h6 {font-size:1.1em; letter-spacing:0; font-weight:bold; margin:.5em 0; font-family:Arial, Helvetica, sans-serif;}


/* Search stuff */
  .row.search-block {padding:2em 1em 0em 1em; margin:0!important}
  h5#hSuggest {margin-left:0; margin-bottom:.8em; line-height:1.5em;}
  #noSearchResult .right-border .row.content-block {border-top:0; padding:1em 2em 3em 3em;}
  #noSearchResult .search-sidebar .sidebar-custom .row.content-block {padding:0;!important}
  .search-sidebar {margin:0; padding:1em 0;}
  .search-sidebar .sidebar-custom {padding: 1em 2em 1em 1.5em;}
  #noSearchResult .search-sidebar .sidebar-pick .row.content-block {padding:0 1.5em 0 .5em; border-top:0!important;}
  #noSearchResult .search-sidebar .sidebar-pick .row.content-block h6 {font-size:15px!important;}
  #noSearchResult .form-inline .form-control {width:100%;}
  .ti-search-content {margin-top:1em; margin-bottom:2em; width:120%}
  .ti-search-options .col-md-5 {padding:0;}

/* Let's fix the Docs */
 .doc-content .topictitle2, .doc-content .topictitle3 {font-size: 24px!important; margin-top:1em;}
 .doc-content ul, ol {margin-left:.5em; color:#000!important;}
 .doc-content table {border:1px solid #ddd;}
 .doc-content td, .doc-content th {padding:10px!important}
 .doc-content .image {border:0px!important; margin:0;}
 .doc-content .image {border:0px!important; margin:0; padding:0!important;}
 .doc-content .note {padding: 10px; margin-bottom:20px; color: #8a6d3b; background-color: #fcf8e3; border:1px solid #faebcc;}
 .doc-content .notetitle:before, .doc-content p.note:before {content:"\e022"; font-family: 'Glyphicons Halflings'; font-size:12px; padding-right:.8em; color:#8a6d3b}
  .doc-content span.cmd img{height:20px;}
/* Baynote */
.qaOtherBox {width: 220px; margin-left: 0 auto; margin-top: 15px;}
.qaOtherBox h3 {margin-bottom:0;}
#baynote_guide {display:block!important;}
.qaOtherList {background-image: url(../media/jp/all_media/solution_snippets/pqa_bg_side4.gif); background-repeat: repeat-y; zoom: 1;}
.qaOtherBox .qaOtherList .qaOtherList-Inn1 .qaOtherList-Inn2 {background-image: url(../media/jp/all_media/solution_snippets/pqa_bg_side3.gif); background-repeat: no-repeat; background-position: left bottom; line-height: 130%; padding: 0px 16px 16px;}
.baynote-custom {background-color:#d9edf7; margin:1em auto; padding:0 1em; border-radius:8px; padding-bottom:1em;}
.baynote-custom .baynote-title {font-weight:900; font-family:"Meiryo"; letter-spacing:-1px; padding:1em .3em; margin-bottom:0; margin-left: -2px;}
.baynote-custom > #supportguide {background-color:#fff;}

/* Tabs */
.nav-tabs>li>a, .nav-tabs.nav-justified>li>a {font-size: 13px; color:#777777!important; text-align:center; vertical-align : center; 
border-top : solid 3px #DDDDDD; border-left : solid 1px #DDDDDD; border-right : solid 1px #DDDDDD; border-bottom : solid 1px #E4E4E4; 
  background:#F8F8F8; border-radius:0!important;}
.nav-tabs>li>a:hover {color:#DB3D44;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus
{font-weight:bold; color:#DB3D44!important; border-top : solid 3px #ED1C24; background-color: #FFFFFF;}
.nav-tabs.nav-justified>li>a,  .nav-tabs.nav-justified>.active>a {text-align:left;}


/* Footer */
.ti-footer, .ti-jp-footer {padding-top: 25px;}
.ti-footer .nav>li>a {padding: 5px 20px 0px 0px;}
.ti-footer .dropdown-menu > li {text-align:left;}
.ti-footer .nav >.link_product >.dropdown-toggle.language-footer {background-image: url('/media/web/ti8/ti_footer_globe.jpg'); background-position: 0px -3px; background-repeat: no-repeat; padding-left:18px;}
.ti-footer .nav >.link_product >.dropdown-toggle span {font-size:.85em;}
.ti-footer .nav>li>a:hover {text-decoration:underline;}
.ti-jp-footer .nav>li>a {padding:1px 15px;}
.ti-jp-footer .nav-pills > li {float:none; display:inline-block; *display:inline; /* ie7 fix */ zoom:1; /* hasLayout ie7 trigger */ margin-bottom:1em;}
.ti-jp-footer, .ti-jp-footer .nav-pills > li .nav-tabs, .nav-pills {text-align:center;}
.ti-jp-footer .nav >.link_product >.dropdown-toggle {background-image: url('/media/web/TMMS/ic_product.png'); background-position: 0px 0px; background-repeat: no-repeat; padding-left:24px;}
.ti-jp-footer .text-center, .ti-footer .row {background:url('/media/web/ti8/trendlogo.png') top right no-repeat; min-height: 30px;}
.ti-footer .row .text-muted {margin-top:1em;}

 /* #site-menu {margin: 0;padding: 0;list-style: none;margin-top:1em;}
  #site-menu ul, #site-menu ul ul {margin: 0;padding: 0;list-style: none;}
  #site-menu li a {display: block;background: #c0392b;color: #333;margin:0;padding:10px;font-size:15px;line-height:150%; border:0; transition:none;margin-top:.5em;color: #f7f7f7;}
  #site-menu li a.collapsed {background: #f7f7f7;color: #666; }
  #site-menu li a:hover {background: #ed1c24;color: #f7f7f7;text-decoration:none;}
  #site-menu .sub li {margin: 0; padding: 0; background: #f7f7f7;}
  #site-menu .sub li a {display: block; background: #f7f7f7 url(http://go.trendmicro.com/rwd-maximum-security/images/nav-arrow.png) no-repeat 5% 46%; color: #666; border-top:1px solid #ccc;
  padding: 10px 0 10px 32px; font-size:15px; margin:0;}
  
  #site-menu .sub li a:hover {background: #f2f2f2 url(http://go.trendmicro.com/rwd-maximum-security/images/nav-arrow.png) no-repeat 5% 46%; color: #333;}
*/

.back-to-top {position: fixed; bottom: 1.5em; right: 1em;  text-decoration: none; color: #ffffff; font-size: 12px; padding: 1em; display: none;
  background:rgb(0,0,0);
  background: transparent\9;
  background:rgba(0,0,0,0.3);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);
  zoom: 1;
}
.back-to-top:nth-child(n) {filter: none;}

.back-to-top:hover {color:#ffffff; background:rgb(0,0,0); background: transparent\9; background:rgba(0,0,0,0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);  zoom: 1; }

 #modalVideoTutorial .modal-lg {width:100%; max-width:1024px; height:400px;}
 #modalVideoTutorial .modal-body {padding:2px;}
 #modalVideoTutorial .modal-dialog-box {border:0px;}
 /*#modalVideoTutorial .modal-dialog-box::-webkit-scrollbar {display: none;}  */
 #modalVideoTutorial .modal-dialog-box {display:inline; width:100%; overflow-x: hidden; overflow-y: scroll; /*margin-top:-27px;*/}
 #modal-close-btn {position: relative; padding:5px 5px 6px 5px; border: 0px; top:-15px; left:15px; float:right; background-color:#000000; cursor: pointer; z-index: 1103; -moz-border-radius:14px; -webkit-border-radius:14px; -khtml-border-radius:14px; border-radius:14px;}
 #modal-close-btn small {color:#ffffff;}

.ieModal {height/*\**/: 800px\9!important;}


/* Slider */
.slick-slider { position: relative; word-break: break-word; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; overflow: hidden; display: block; margin: 15px; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("./ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: auto; min-height: 1px; display: none; text-align: center;margin-bottom: 10px!important; }
.slick-slide img { display: block; max-height: 195px; max-width: 195px; margin: 0 auto;}
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 38px; width: 38px; line-height: 0; font-size: 0; cursor: pointer; background: transparent; top: 40%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { color: #666666;}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { color: #cccccc;}
.slick-prev:before, .slick-next:before { font-family: 'Glyphicons Halflings'; font-size: 30px; line-height: 1; color: #888888; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px;}
.slick-prev:before { content: "\e079";}

.slick-next { right: -25px; }
.slick-next:before { content: "\e080"; }

/* Dots */
.slick-slider { margin-bottom: 60px!important; }
.slick-dots { position: absolute; list-style: none; display: block; text-align: center; padding: 0; width: 100%;}
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; display: none\9;}
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { color: #666; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 20px; height: 20px; font-family: 'Glyphicons Halflings'; font-size:25px; line-height: 20px; text-align: center; color: #ccc; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { color: #888;}

[dir="rtl"] .slick-next {right: auto;left: -25px;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev {right: -25px;left: auto;}
[dir="rtl"] .slick-prev:before {content: "\2192";}
[dir="rtl"] .slick-slide {float: right;}

/*Product Modal*/
.productModal{max-height: 630px;overflow: auto;height: 100%;overflow-x: hidden;}
.listModal{ border: none!important;}
.viewProduct {line-height: 32px;font-size: 13px;text-align: right;font-size: .8em;cursor: pointer;}
.ti8ModalCloseBtn{background-color: #000000 !important; border-radius:15px; cursor:pointer !important; opacity: 1; padding: 2px 6px !important; text-shadow: none; color: #ffffff; position: relative; float: right; top: -10px; left: 10px; border: 1px solid #cccccc !important; z-index:999;}
.ti8ModalCloseBtn:hover {color:#cccccc;}

.sidenav {list-style:none; margin-left:-10px; }
.sidenav li a {padding:1em; border-bottom:1px solid #eee; display:block;}
.sidenav .dropdown.open {background-color:#428bca;}

.sidenav >.active> a, .sidenav >.active >a:hover, .sidenav >.active >a:focus {background-color: #db3d44 !important;
  color: #fff !important;border-color: #f4f4f4 !important;}
.sidenav .dropdown.open > a { color:#fff; text-decoration:none;}
.sidenav .open>.dropdown-menu {position:relative; z-index:inherit; display:block; box-shadow:none; background:none; background-clip:none; border:none; margin:.5em 0; width:100%;}
.sidenav .open>.dropdown-menu a {white-space:normal; padding:.85em;}

/*Carousel Fade*/
.carouselfadeIn {opacity:0;-webkit-animation:fadeIn ease-in 1; -moz-animation:fadeIn ease-in 1; -o-animation:fadeIn ease-in 1; animation:fadeIn ease-in 1; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; -o-animation-fill-mode:forwards; animation-fill-mode:forwards;}              
.carouselfadeIn-1s {-webkit-animation-duration:0.5s; -moz-animation-duration:0.5s; -o-animation-duration:0.5s; animation-duration:0.5s;}
.carouselfadeIn-Delay-1s {-webkit-animation-delay:0.5s; -moz-animation-delay:0.5s; -o-animation-delay:0.5s; animation-delay:0.5s;}

/*Nav Enhancement 05/14/15 */
#newnav2{ max-width: 155px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-right: 10px;}
#caretNav {  float: right;top: -15px; position: inherit; right: -5px; background-color: #ffffff;}

 /* Medium devices (tablets, 768 and up) */
  @media (min-width: 768px) and (max-width:991px) {
       .navbar-default {padding-bottom: 0px!important;}
       .row.content-sidebar {padding: 1em 3em 0 3em;}
       .row.content-block {border-top:1px solid #dddddd;  padding:10px 20px 0 20px; margin:0!important}
       .row.content-block img, .row.content-sidebar img, .row.solution-block img {vertical-align:middle; height:auto; }
       #noSearchResult .search-sidebar .row.content-block, #noSearchResult .row.content-block {padding:1em 2em 3em 2em; border-top:0;}
       #noSearchResult .search-sidebar .sidebar-pick .row.content-block {padding-left:2em;}
       .search-sidebar .sidebar-custom {padding: 1em 2em 1em 3em;}       
       .sbbtn {width:300px; margin:0 auto!important;}
       .ti-header-desktop {display:none;}
       .ti-content-right .row {padding-left:15px;}
       .ti-main-menu {margin-bottom: 15px;}
       .ti-main-menu .dropdown-menu li a {white-space:normal;}
       .videoWrapper {position: relative!important; padding-bottom: 56.25%!important; /* 16:9 */ padding-top: 25px!important; height: 0!important; }
       .videoWrapper iframe, .videoWrapper object, .videoWrapper embed {position: absolute; top: 0;left: 0; width: 100%; height: 100%; border:0;}
  }

 /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
       .right-border {border-right:1px solid #dddddd; padding-top: 0; padding-bottom: 0; padding-right: 0; min-height:100%;}
       .ti-content-sidebar .left-border {border-left: 1px solid #ddd; margin-left: -1px;}
       .ti-content-sidebar .jp-left-border {padding: 30px 40px 30px 20px; border-left: 1px solid #ddd; margin-left: -1px;}
       .row.content-block {border-top:1px solid #dddddd; padding:20px 25px 0 25px; margin:0!important}
       .row.content-sidebar {padding: 1em 2em 0 .5em;} 
       .row.content-block:first-child {border-top:0px;}
       .row.content-block:last-child {padding-bottom:2em;}
       .row.content-block .five-col {width:20%!important;}

       .prechat .btn {display:inline;}
       .alert {padding:20px 40px;}
       .ti-main-menu .dropdown-menu li a {white-space:normal;}
       .wsm {margin-top:-40px;}
    }


 /* Small devices */
    @media (max-width: 768px) { 
       .row.content-sidebar {padding:0 30px;}
       .row.content-block {border-top:1px solid #dddddd; padding:15px; margin:0!important}
       .row.content-block:first-child {border-top:none;}
       .row.content-block img, .row.content-sidebar img, .row.solution-block img {vertical-align:middle; height:auto; }
       .prechat .btn {display:block; width:100%;}
       .alert {padding:10px 20px; font-size:.85em;}
       .row.solution-block, .row.feedback-block, .row.ti-product-version {padding:15px;}
       #noSearchResult .search-sidebar .row.content-block, #noSearchResult .row.content-block {padding:1em 2em 3em 2em; border-top:0;}
      .search-sidebar .sidebar-custom {padding: 1em 2em 1em 3em;}
      #noSearchResult .search-sidebar .sidebar-pick .row.content-block {padding-left:2em;}
      .row.solution-block .stepBox .stepFlowLeft .pqaTxt {width:100%;}
      .row.solution-block .stepBox .stepFlowLeft img {display:block; float:left; margin:.5em auto;}
      .row.solution-block.ti-product-version {padding-left:2.5em; padding-right:2.5em;}
      .ti-footer .nav-pills > li,.ti-jp-footer .nav-pills > li {display:block; width:80%; text-align:left; margin-bottom:1em;}
      .ti-jp-footer p, .ti-footer p {font-size:.8em; margin-top:.5em;}
      .ti-header-mobile h1 {font-size:2em;}
      .ti-header-mobile {padding:1em 0 0 0;}
      .ti-header-mobile .navbar-form {padding-top:0; padding-bottom:0;}
      .icon-left img {max-width:35px!important;}
      .row.solution-block .btn, .row.content-block .btn, code {white-space:normal;}
      .videoWrapper {position: relative!important; padding-bottom: 56.25%!important; /* 16:9 */ padding-top: 25px!important; height: 0!important;}
      .videoWrapper iframe, .videoWrapper object, .videoWrapper embed {position: absolute; top: 0;left: 0; width: 100%; height: 100%; border:0;}
      .sidenav {display:none;}
    }

 /* Small phones */
  @media (max-width: 480px) {
    .row.content-block {padding:10px 5px;}
    .row.content-sidebar {padding:0 15px;}
    }

/* For print */
@media print {
  body {background-color:#ffffff!important; margin-top:0; padding-top:0;}
  .ti-main-menu, .ti-content-sidebar .col-md-3.left-border, .ti-mobile-search, .navbar-header, .feedback-block, .row.solution-block .nav.nav-tabs, 
  .row.solution-block .expandAll, .dropup, .videoWrapper {display:none;}
  .ti-red-gradient-bg, .ti-red-img-mobile {background:none;}
  .ti-content, .ti-content-sidebar, .ti-red-img-mobile .container, .ti-main, .acc, .row.solution-block img {background:none!important; border:none;}
  .row.content-block, .row.solution-block {padding:0;}
  .collapse .pane {display:block;}
  h1, h2, h3, h4, h5, .ti-header h1 {color:#000!important;}
  h1, h2, h3, h4, .row.solution-block h2.border {font-size;14px;}
}

#mainDesktop {animation: fadein 0.5s;-moz-animation: fadein 0.5s; /* Firefox */-webkit-animation: fadein 0.5s; /* Safari and Chrome */-o-animation: fadein 0.5s; /* Opera */}
@keyframes fadein {from {opacity:0;}to {opacity:1;}}
/* Firefox */
@-moz-keyframes fadein { from {opacity:0;}to {opacity:1;}}
/* Safari and Chrome */
@-webkit-keyframes fadein { from {opacity:0;}to {opacity:1;}}
 /* Opera */
@-o-keyframes fadein {from {opacity:0;}to {opacity: 1;}}


/*Video Responsive*/
.coverStyle{width:100%;height:420px;  max-height:420px; position:absolute; background:#f9f9f9;}      
 @-moz-document url-prefix() {.fancyFF{ height:420px!important;}}; 












/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
